 <html>
 <head>
 <metacharset="UTF-8"/>
 <title>Visitors cinema prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 </head>
<body bg>
<div class="container">

  {%block content %}{% endblock content %}


  <!--Start Footer-->
 <div class="row" id="footer" style = "border-top:1px solid #dddddd;">
  &copy; 2017 Kyivstar BigData School
 </div>
 <!--End Footer-->



</div>
</body>
</html>
